html {
    height: 100%;
}

html body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

* {
    box-sizing: border-box;
}

.main-title {
    padding: 10px 0 10px 10%;
    background-color: chartreuse;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.menu {
    display: flex;
    justify-content: center;
    background-color: orange;
    margin: 0;
}

#checkboxes {
    margin: 10px 0 0 0;
}

.menu li {
    padding: 10px 1%;
    margin: 0;
    list-style-type: none;
}

.full-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search-results li {

    list-style-type: none;
    margin: 20px 15px;
    padding: 10px 15px;
}

.search-results button {
    margin: 5px 5px 5px 0;
}

ul {
    margin: 0;
    padding: 0;
}

li a {
    color: black;
}

.title-products {
    margin: 0;
    padding: 20px 20px;
}

.list-products li {
    border-color: black;
}

.link-product img {
    max-height: 150px;
    max-width: 300px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: darkslategrey;
}

.product-title {
    padding-left: 10%;
}

.product-description {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 5%;
}

#description-price {
    color: red;
}

#div-price {
    display: flex;
}

#description-price {
    padding: 0;
    margin: 0 10px 0 0;
}

#description-past-price {
    text-decoration: line-through;
    color: grey;
    margin: 0;
}

#description-button {
    margin-left: 20px;
    padding: 0 2rem;
}

.images img {
    width: 30%;
    flex: 1 0 auto;
}

.div-description {
    flex: 1 0 auto;
}

#options {
    padding: 0 15px;
}

header {
    flex: 0 0 auto;
}

main {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    text-align: center;
    background-color: gray;
    margin: 0px;
    padding: 10px 0;
}

.block-buttom {
    flex: 0 0 auto;
}

.unit-list {
    flex: 1 0 auto;
}

.clear-list {
    margin: 5px 5%;
    padding: 5px 0;
    width: 90%;
}

.total-price {
    margin: 0 10%;
}

@media screen and (min-width: 600px) {
    #checkboxes {
        display: flex;
        flex-direction: row;
    }

    #sort-check {
        display: flex;
        flex-direction: row;
    }

    .checkbox {
        margin: 0 10px;
    }

    .radio-check {
        margin: 0 10px;
    }
}

@media screen and (min-width: 1000px) {
    .product-description {
        flex-direction: row;
    }
}

#div-price button {
    margin: 0 5px;
}